* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    width: 100%;
}

tr {
    width: 100%;
    display: flex;
    text-align: center;
}

td {
    padding: 1em 2em;
    flex: 1;
}

tr td:nth-of-type(1) {
    background: orangered;
}
